{% extends 'base.html' %}
{% block title %}original enclosure index{% endblock %}
{% block css %}<link rel="stylesheet" href="/static/css/home.css" type="text/css" />{% endblock %}
{% block body %}
<p>back soon x</p>
<p><a href="{% url parhome %}">pars</a></p>
<ul>
    <li>
        <a href="original-enclosure/halfmilestone.pdf">Original Enclosure (MCFP), 2010<img src="pdf-icon.gif" width="16" height="16" /></a>
        <ul>
                    <li><a href="original-enclosure/super-magic-stick">Super Magic Stick</a></li>
                    <li><a href="original-enclosure/lorry-drivers">Lorry Drivers</a></li>
                    <li><a href="original-enclosure/sport-painting">Sport Painting</a></li>
                    <li><a href="original-enclosure/press-images">Press images</a></li>
        </ul>
    </li>
    <li><a href="{% url parhome %}">Pars, 2010</a> <a href="pars/rss-feed.xml"><img src="rss.gif" width="36" height="14"></a></li>
    <li>
        <a href="#" id="books">Books<img src="pdf-icon.gif" width="16" height="16" /></a>
        <ul id="booklist">
            <li>16. Polemics, January 2009</li>
            <li>33. Community, February 2009</li>
            <li>Diary, February 2009</li>
            <li>Series of Jokes, February 2009</li>
            <li>Remix Projects, March 2009</li>
            <li>17. Caustics, April 2009</li>
            <li><a href="/books/easy-reader.pdf">Easy Reader, October 2009<img src="pdf-icon.gif" width="16" height="16" /></a></li>
            <li>Opposites, October 2009</li>
            <li><a href="/books/rubric.pdf">Rubric, November 2009<img src="pdf-icon.gif" width="16" height="16" /></a></li>
            <li>Cornuto, March 2010</li>
            <li>36. Buboes, March 2010</li>
            <li>18. Firelights, June 2010</li>
            <li>20. Marriage, August 2010</li>
            <li>24. Bubbles, October 2010</li>
            <li><a href="/books/DOUBLE_CUP_LOVE.pdf">DOUBLE CUP LOVE, August 2011<img src="pdf-icon.gif" width="16" height="16" /></a></li>
        </ul>
    </li>
    <li>
        <a href="#" id="press">Press</a>
        <ul id="presslist">
            <li>http://steveaitch.wordpress.com/2010/03/19/jokes-and-their-relation-to/</li>
            <li>http://www.imdb.com/name/nm3811318/filmotype</li>
        </ul>
    </li>
</ul>
<div class="bottom-bar"><img src="/static/img/vim_on_fire.gif"></div>
{% endblock %}
