{% extends 'base.html' %}

{% block head %}
<style>
  body, .layout {
      margin: 0;
      padding: 0;
      width: 100%;
      font-family: serif;
  }
  .layout {
      margin: 20px;
      width: auto;
  }
  .par {
      width: 405px;
      margin: 0 auto;
  }
  .hidden span {
    background: black;
  }
  .hidden img {
    visibility: hidden;
  }
  .par div {
    display: inline-block;
  }
  div.hidden {
    background: black;
  }
  body {
  }
</style>
{% endblock %}
{% block body %}
<div class="layout">
  <div>
    <a href="{% url home %}">x</a>
    {% if older %}
    <a href="{% url par older.number %}">older</a>
    {% endif %}
  </div>
  <div class="par">
    <h1>
      {{ par.number }}
      {% if par.hidden %}
      <span class="hidden">
        {% for word in title_split %}
        <span>{{ word }}</span>
        {% endfor %}
      </span>
      {% else %}
      {{ par.title }}
      {% endif %}
    </h1>
    <div {% if par.hidden %}class="hidden"{% endif %}><img src="{{ par.left.image.url }}" width="200" /></div>
    <div {% if par.hidden %}class="hidden"{% endif %}><img src="{{ par.right.image.url }}" width="200" /></div>
    <a href="{% url purchase par.slug %}">$</a>
    <p>{{ date }}</p>
  </div>
</div>
{% endblock %}
