{% extends 'base.html' %}

{% block head %}
<style>
  body, .layout {
      margin: 0;
      padding: 0;
      width: 100%;
      font-family: serif;
  }
  .layout {
      margin: 20px;
      width: auto;
  }
  .par {
      width: 405px;
      margin: 0 auto;
  }
  .hidden span {
    background: black;
  }
  .hidden img {
    visibility: hidden;
  }
  .par div {
    display: inline-block;
  }
  div.hidden {
    background: black;
  }
  body {
  }
</style>
<script type="text/javascript" src="http://gumroad.com/js/gumroad-embed.js"></script>
{% load static %}
<script type="text/javascript" src='{% static 'jquery/jquery.js' %}'></script>
{% endblock %}
{% block body %}
{% load js %}
{% django_js %}
<div class="layout">
  <div id="purchase">
    <a href="{% url parhome %}">x</a>
      <p>thanks</p>
      <p id="messages">...</p>
      <script type="text/javascript">
        $(document).ready(function(){
            var task_list = {{ task_list|safe }};
            var task_index = 0;
            var task = task_list[task_index];

            var gumroad = function(purchase){
                $('#messages').text('done');
                var gumroad_element = $('<div/>').attr({'class': 'gumroad-product-embed'})
                                                 .data('gumroad-product-id', purchase.gumroad_id)
                $('#purchase').html(gumroad_element);
            };

            var poll = function(task_id) {
                $.ajax({
                    url: Django.url('task_status', task_id),
                    success: function(response){
                        $('#messages').text(task.name);
                        if (response.task.status == "PENDING"){
                            var poll_ = function(){ poll(task_id) };
                            setTimeout(poll_, 200);
                        } else if (response.task.status == "SUCCESS"){
                            if (task_index + 1 < task_list.length) {
                                task_index = task_index + 1;
                                task = task_list[task_index];
                                var poll_ = function(){ poll(task.id) };
                                setTimeout(poll_, 200);
                            } else {
                                gumroad(response.task.result);
                            };
                        };
                    }
                });
            };
            poll(task.id);
        });
      </script>
  </div>
</div>
{% endblock %}
