{% extends 'base.html' %}

{% block head %}
<style>
  body, .layout {
      margin: 0;
      padding: 0;
      width: 100%;
      font-family: serif;
  }
  .layout {
      margin: 20px;
      width: auto;
  }
  .par {
      width: 405px;
      margin: 0 auto;
  }
  .hidden span {
    background: black;
  }
  .hidden img {
    visibility: hidden;
  }
  .par div {
    display: inline-block;
  }
  div.hidden {
    background: black;
  }
  body {
  }
</style>
<script type="text/javascript" src="http://gumroad.com/js/gumroad-embed.js"></script>
{% endblock %}
{% block body %}
<div class="layout">
  <div>
    <a href="{% url pars %}">x</a>
      <p>thanks</p>
      <div class="gumroad-product-embed" data-gumroad-product-id="{{ gumroad_id }}"></div>
    <a href="{{ pdf_url }}">pdf</a>
  </div>
</div>
{% endblock %}
